---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const items = [
  {
    title: "Tailored social impact solutions",
    description:
      "Our expert team listens to your unique needs and offers customized solutions—whether you're a corporate, NGO, or foundation seeking to maximize your social contribution.",
  },
  {
    title: "End-to-end partnership support",
    description:
      "From strategy design to impact measurement, we're with you every step of the way to ensure your initiatives create meaningful, sustainable change.",
  },
  {
    title: "Quick and responsive engagement",
    description:
      "We value your time and ensure prompt responses to your inquiries, so you can move forward with clarity and confidence.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
      <Kicker class="text-base-600">Why reach out</Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="font-medium tracking-tight text-balance lg:col-span-2"
      >
        Partner with us to drive meaningful social change
        <span class="text-accent-500"> with expert guidance and technology!</span>
      </Text>
    </div>
    <div
      class="grid gap-x-8 gap-y-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-12 lg:mt-24"
    >
      {
        items.map((item) => (
          <div>
            <Text
              tag="h3"
              variant="textLG"
              class="font-medium text-accent-900"
            >
              {item.title}
            </Text>
            <Text
              tag="p"
              variant="textSBase"
              class="text-base-600 text-pretty mt-2"
            >
              {item.description}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>